= form_with url: "/systems/suggest_new_system", method: :post do |f|
  %div.modal.fade#suggestSystemModal{tabindex:"-1", role:"dialog","aria-labelledby":"suggestSystemModal","aria-hidden":"true"}
    %div.modal-dialog.modal-lg{role:"document"}
      %div.modal-content
        %div.modal-header
          %h5.modal-title= t(:suggest_a_new_repository)
          %button.close{type:"button", "data-bs-dismiss": "modal", "aria-label":"Close"}
            %span{"aria-hidden":"true"}
              &times;
        %div.modal-body
          -# = "(#{t(:all_fields_must_be_completed)})"
          = "* = #{t(:required)}"
          %div.row.align-items-center.field
            %div.col-2.field-name
              = f.label :name, :class=>"form-label required"
            %div.col
              = f.text_field :name, :class=>"form-control"
          %div.row.align-items-center.field
            %div.col-2.field-name
              = f.label t(:website_url), :class=>"form-label required"
            %div.col
              = f.text_field :url, :class=>"form-control"
          = f.hidden_field :system_category, :value => :repository
          %div.row.align-items-center.field
            %div.col-2.field-name
              -# i18n-tasks-use t('activerecord.attributes.system.owner') # this lets i18n-tasks know the key is used
              = f.label :owner,:class=>"form-label"
            %div.col
              = f.hidden_field :owner_id
              = text_field_tag 'autocomplete_system_owner', nil, id: 'autocomplete_system_owner',:class=>"form-control"
              -# %a{onclick:"document.getElementById('system_owner_id').value = ''",class:'btn btn-danger',href:''}
              -#   Clear
        %div.modal-footer
          .actions
            = f.submit t("buttons.save_record"), :class => 'btn btn-primary'
