%div.system_view_panel
  %h2= t(:technical_information)
  %div.row
    %div.col-md-6
      %div.property
        %h5.property-name= t(:software)
        %div.property-value
          = link_to @system.platform.name, @system.platform
          - if @system.platform_version && !@system.platform_version.empty?
            = surround '(', ')' do
              =@system.platform_version
      = print_field_name_and_value2('OAI-PMH Base URL',@system.oai_base_url)
      %div.property
        %h5.property-name= t(:identifiers)
        %div.property-value
          - if !@system.repoids.empty?
            %ul
              - @system.repoids.each do |repoid|
                %li
                  %b="#{Repoid.translated_identifier_scheme(repoid.identifier_scheme)}:"
                  =repoid.identifier_value
          -else
            =t(:none)
    %div.col-md-6
      %div.property
        %h5.property-name Metadata Formats
        %div.property-value
          - if !@system.metadata_formats.empty?
            %ul
              - @system.metadata_formats.each do |mf|
                %li= mf.name
          -else
            =t(:none)


