%div.system_view_panel
  %h2= t(:curation)
  %div.property
    %h5.property-name= t("activerecord.attributes.system.record_status")
    %div.property-value
      = record_status_flags @system.record_status
      - if @system.reviewed
        %br
        = t(:reviewed_on, date: @system.reviewed.strftime('%Y-%m-%d'))
  %div.property
    %h5.property-name= t("activerecord.attributes.system.system_status")
    %div.property-value
      = system_status_flags @system.system_status
      = oai_status_flags @system.oai_status
  = print_field_name_and_value(t(:responsible_organisation),(link_to(@system.rp.display_name, @system.rp) unless @system.rp.nil?),true)
  %div.property
    %h5.property-name= t(:authorised_curators)
    ="#{t(:managing_agents_for, rp: @system.rp.display_name)}:"
    %div.property-value
      -if @system.rp && @system.rp.users.count > 0
        %ul
          - @system.rp.users.each do |agent|
            %li
              = agent.display_name
      - else
        =t(:none)
    -if @system.users && @system.users.count > 0
      = "#{t(:additional_authorised_curators)}:"
      %div.property-value
        %ul
          - @system.users.each do |user|
            %li
              = user.display_name


  - if policy(@system).curate?
    %div.property
      %h5.property-name= t('activerecord.attributes.system.issues')
      %div.property-value
        -unless @system.issues.empty?
          %ul
            - @system.issues.each do |issue|
              %li.list-group-item
              = issue_priority_flags(issue)
        - else
          ="#{t(:none)} 😊"
    %h5.property-name Actions
    %div.property
      -# %h6= t(:ird_metadata_record)
      %div.property-value
        = render '_shared/record_action_buttons', model_instance: @system
        %br
        - if policy(@system).set_record_verified? && !@system.record_status_verified?
          = link_to t('buttons.change_to_verified'), set_record_verified_url(@system.id), :class => 'btn btn-success btn-sm'
          %br
        - if policy(@system).set_record_under_review? && !@system.record_status_under_review?
          = link_to t("buttons.change_to_under_review"), set_record_under_review_url(@system.id), :class => 'btn btn-sm btn-warning'
          %br
        - if policy(@system).set_record_archived? && !@system.record_status_archived?
          = link_to t("buttons.archive_record_defunct"), set_record_archived_url(@system.id, archive_label: "defunct"), :class => 'btn btn-danger btn-sm'
          %br
          = link_to t("buttons.archive_record_out_of_scope"), set_record_archived_url(@system.id, archive_label: "out-of-scope"), :class => 'btn btn-danger btn-sm'
          %br
        - if policy(@system).set_record_draft? && !@system.record_status_draft?
          = link_to t("buttons.change_to_draft"), set_record_draft_url(@system.id), :class => 'btn btn-secondary btn-sm'
          %br
        - if policy(@system).auto_curate?
          = link_to 'Auto-curate', auto_curate_url(@system.id), :class => 'btn btn-primary btn-sm'
    - if policy(@system).check_url? || policy(@system).check_oai_pmh_identify? || policy(@system).check_oai_pmh_formats? || policy(@system).get_thumbnail? || policy(@system).network_check?
      %div.property
        %div.property-value
          - if policy(@system).check_url?
            = link_to t('buttons.check_url'), check_website_url(@system.id), :class => 'btn btn-primary btn-sm'
          - if policy(@system).check_oai_pmh_combined?
            = link_to t('buttons.check_oai'), check_oai_combined_url(@system.id), :class => 'btn btn-primary btn-sm'
          - if policy(@system).get_thumbnail?
            = link_to t('buttons.get_thumbnail'), get_thumbnail_url(@system.id), :class => 'btn btn-primary btn-sm'
          - if policy(@system).network_check?
            = link_to t('buttons.start_background_network_checks'), network_check_url(@system.id), :class => 'btn btn-primary btn-sm'
    - if policy(@system).authorise_user?
      %div.property
        -# %h5.property-name= t(:user_access)
        %div.property-value
          = link_to t("buttons.authorise_a_user"),nil, :class => 'btn btn-primary btn-sm',"data-bs-toggle":"modal", "data-bs-target":"#authoriseUserModal"
      = render 'authorise_user_modal'
    - if policy(@system).label?
      %div.property
        %h6= t("activerecord.attributes.system.system_labels")
        %div.property-value
          = render '_shared/label_buttons', system: @system
    - if policy(@system).tag? && @system.tag_list.any?
      %div.property
        %h5.property-name Tags
        %div.property-value
          - @system.tag_list.each do |tag|
            = tag_flags(tag)